<div class="allBurgers">
    <div class="burgers">
        {{#each burgers}}
        {{#unless eaten}}
        <div class="indBurger">
            {{id}} - {{burger_name}}
            <form class="eatenBurger" method="POST">
                <button class="eatTheBurger" data-id={{id}}>
                    Eat this burger
                </button>
            </form>
            {{/unless}}
            {{/each}}
        </div>
    </div>

    <div class = "eatenBurgers">
        Eaten Burgers
        {{#each burgers}}
        {{#if eaten_state}}
        <div class="burger">{{id}} - {{burger_name}}</div>
        {{/if}}
        {{/each}}
    </div>
    
    <div class = "createBurger">
        <form>
            <input type="text" id="burger" placeholder="Create a new burger" name="burger_name">
            <button type="submit" class="submitBurger"> Create your burger!</button>
        </form>
    </div>
</div>